// Branding overrides
//
// Copy variables from `_branding.scss` to this file to override default values.

$primary: #cda0d7;
$secondary: #afa7e0;
$tertiary: #89b0eb;

$login-bg: url("images/original.png");
